%h1 Transacciones

%table.table.table-striped
  %thead
    %tr
      %th
        Fecha
      %th
        Valor
      %th
        Quien transfiere
      %th
        Quien recibe
  %tbody
  - @bank_transactions.each do |transaction|
    %tr
      %td
        = transaction.created_at.to_formatted_s(:long)
      %td
        = number_to_currency(transaction.amount)
      %td
        = get_name_customer(transaction.origin_account)
      %td
        = get_name_customer(transaction.target_account)
        
= link_to "Hacer una transferencia", new_bank_transaction_path
