= form_for(customer) do |f|
  .form-group
    = f.text_field :first_name, placeholder: 'Nombre', class: 'form-control', autofocus: true
  .form-group
    = f.text_field :last_name, placeholder: 'Apellido', class: 'form-control'
  .form-group
    = f.text_field :document_number, placeholder: 'Numero de Cedula', class: 'form-control'
  .form-group
    = f.text_field :phone, placeholder: 'Celular', class: 'form-control'
  .form-group
    = f.text_field :city, placeholder: 'Ciudad', class: 'form-control'
  .form-group
    = f.email_field :email, placeholder: 'Email', class: 'form-control'
  .form-group
    = f.submit customer.new_record? ? 'Registrar Cliente' : 'Actualizar Cliente', class: 'btn btn-custom'