%h1 Clientes

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Nombre
      %th Nº Cedula
      %th Celular
      %th Ciudad
      %th Email
      %th Cuentas
      %th Tarjetas
      %th Editar
      %th Borrar
  %tbody
  - @customers.each do |customer|
    %tr
      %td
        = customer.id
      %td
        = "#{customer.first_name} #{customer.last_name}"
      %td
        = customer.document_number
      %td
        = customer.phone
      %td
        = customer.city
      %td
        = customer.email
      %td
        = customer.accounts.count
      %td
        = customer.debit_cards.count
      %td
        = link_to icon('pencil'), edit_customer_path(customer), {class: 'edit-icon'}
      %td.close-icon
        = link_to icon('close'), customer_path(customer), method: :delete, data: { confirm: '¿Estas seguro?'}

= link_to "Crear cliente", new_customer_path, {class: 'btn btn-custom'}
