.row
  .col-sm-12
    %h1 Hola Administrador
    %p Bienvenido a Rails Bank, esta es tu seccion administrativa donde puedes gestinar a tus clientes.
.row
  .col-sm-3
    .box
      = link_to customers_path do
        = image_tag("customers.svg")
        %h3 Clientes
  .col-sm-3
    .box
      = link_to accounts_path do
        = image_tag("accounts.svg")
        %h3 Cuentas
  .col-sm-3
    .box
      = link_to debit_cards_path do
        = image_tag("cards.svg")
        %h3 Tarjetas
  .col-sm-3
    .box
      = link_to bank_transactions_path do
        = image_tag("bank_transacttions.svg")
        %h3 Transacciones
