%h1 Tarjetas debito

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Numero de cuenta
      %th Cliente
      %th Borrar
  %tbody
  - @debit_cards.each do |card|
    %tr
      %td
        = card.id
      %td
        = card.account_id
      %td
        = card.customer_id
      %td
        = link_to ' Eliminar', debit_card_path(card), method: :delete, data: { confirm: '¿Estas seguro?' }

= link_to "Crear tarjeta", new_debit_card_path
