%h1 Tarjetas debito

%table.table.table-striped
  %thead
    %tr
      %th ID
      %th Numero de cuenta
      %th Cliente
      %th Saldo
      %th Borrar
  %tbody
  - @debit_cards.each do |card|
    %tr
      %td
        = card.id
      %td
        = get_account_number(card.account_id)
      %td
        = get_name_customer(card.customer_id)
      %td
        = get_amount(card.account_id)
      %td.close-icon
        = link_to icon('close'), debit_card_path(card), method: :delete, data: { confirm: '¿Estas seguro?' }

= link_to "Crear tarjeta", new_debit_card_path, {class: 'btn btn-custom'}
