.row
  .col-sm-4.col-sm-offset-4
    %h2 ¿Olvidaste tu contraseña?
    = form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f|
      = devise_error_messages!
      %p Escribe tu correo para enviarte las instrucciones de restablecimiento de contraseña
      .form-group
        = f.label "Email"
        %br/
        = f.email_field :email, class: 'form-control', autofocus: true
      .actions
        = f.submit "Enviar"
    = render "admins/shared/links"
