.row
  .col-sm-6.col-sm-offset-3
    %h1 Actualizar cuenta de ahorros
    - if @errors
      .alert.alert-danger{:role => "alert"}
        %ul
          - @errors.each do |error|
            %li= error
    = form_for(@account) do |f|
      .form-group
        = f.label "Saldo inicial"
        = f.text_field :amount, class: 'form-control'
      .form-group
        = f.hidden_field :account_number
        = f.hidden_field :customer_id
        = f.submit 'Actualizar Cuenta', class: 'btn btn-custom'

