.row
  .col-sm-6.col-sm-offset-3.form-section
    %h1 Actualizar cuenta de ahorros
    = form_for(@account) do |f|
      .form-group
        = f.text_field :amount, placeholder: 'Saldo inicial', class: 'form-control'
      .form-group
        = f.hidden_field :account_number
        = f.hidden_field :customer_id
        = f.submit 'Actualizar Cuenta', class: 'btn btn-custom'

