.row
  .col-sm-6.col-sm-offset-3.form-section
    %h1 Crear cuenta de ahorros
    = form_for :account, url: accounts_path do |f|
      .form-group
        = f.collection_select(:customer_id, Customer.all, :id, :first_name, {prompt: 'Selecciona un cliente'}, {class: 'form-control' })
      .form-group
        = f.text_field :amount, placeholder: 'Saldo inicial', class: 'form-control'
      .form-group
        = f.hidden_field :account_number, value: rand.to_s[2..11]
        = f.submit "Crear Cuenta", class: 'btn btn-custom'

